.gameContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.eggs {
  display: flex;
}

.amount {
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  flex-direction: column;
}

.highscore {
  font-size: 8px;
}
